/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './m3-theme';

@include mat.core();

body {
  background-color: var(--color-layout);
  margin: 0;
  @include mat.core-theme(m3-theme.$dark-theme);
  font-family: 'Open sans';
}

:root {
  --color-primary: #{mat.get-theme-color(m3-theme.$dark-theme, primary, 40)};
  --color-layout: #{mat.get-theme-color(m3-theme.$dark-theme, tertiary, 98)};

  //
  --mdc-filled-button-container-color: var(--color-primary);

  // card
  --mdc-outlined-card-container-color: #fff;
  --mdc-outlined-card-outline-color: #{mat.get-theme-color(m3-theme.$dark-theme, neutral-variant, 90)};
}
